{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>home_user</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{% static 'resources/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'data/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'files/home_user/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'resources/scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/axQuery.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/globals.js' %}"></script>
    <script src="{% static 'resources/scripts/axutils.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/annotation.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/axQuery.std.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/doc.js' %}"></script>
    <script src="{% static 'resources/scripts/messagecenter.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/events.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/recording.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/action.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/expr.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/geometry.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/flyout.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/model.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/repeater.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/sto.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/utils.temp.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/variables.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/drag.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/move.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/visibility.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/style.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/adaptive.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/tree.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/init.temp.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/legacy.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/viewer.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/math.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'data/document.js' %}"></script>
    <script src="{% static 'files/home_user/data.js' %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u15" class="ax_default">
        <div id="u15_state0" class="panel_state" data-label="State1" style="">
          <div id="u15_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- logo (Image) -->
      <div id="u16" class="ax_default image" data-label="logo">
        <img id="u16_img" class="img " src="{% static 'images/cadastro_loja/logo_u6.png' %}"/>
        <div id="u16_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- busca (Text Field) -->
      <div id="u17" class="ax_default text_field" data-label="busca">
        <div id="u17_div" class=""></div>
        <input id="u17_input" type="text" value="" class="u17_input"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u18" class="ax_default icon">
        <img id="u18_img" class="img " src="{% static 'images/home_user/u18.svg' %}"/>
        <div id="u18_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- botao-usuario (Dynamic Panel) -->
      <div id="u19" class="ax_default" data-label="botao-usuario">
        <div id="u19_state0" class="panel_state" data-label="hide" style="">
          <div id="u19_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u20" class="ax_default icon">
              <img id="u20_img" class="img " src="{% static 'images/home_user/u20.svg' %}"/>
              <div id="u20_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u19_state1" class="panel_state" data-label="show" style="visibility: hidden;">
          <div id="u19_state1_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u21" class="ax_default icon">
              <img id="u21_img" class="img " src="{% static 'images/home_user/u20.svg' %}"/>
              <div id="u21_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u22" class="ax_default box_1">
              <div id="u22_div" class=""></div>
              <div id="u22_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u23" class="ax_default heading_3">
              <div id="u23_div" class=""></div>
              <div id="u23_text" class="text ">
                <p><span>Olá, {{ user.first_name }}!</span></p>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u24" class="ax_default" data-left="-140" data-top="98" data-width="123" data-height="28">

              <!-- Unnamed (Shape) -->
              <div id="u25" class="ax_default icon">
                <img id="u25_img" class="img " src="{% static 'images/home_user/u25.svg' %}"/>
                <div id="u25_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u26" class="ax_default label">
                <div id="u26_div" class=""></div>
                <div id="u26_text" class="text ">
                  <p><span>Editar dados</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <a href="{% url 'logout' %}">
              <div id="u27" class="ax_default" data-left="-140" data-top="140" data-width="69" data-height="23">

                <!-- Unnamed (Shape) -->
                <div id="u28" class="ax_default icon">
                  <img id="u28_img" class="img " src="{% static 'images/home_user/u28.svg' %}"/>
                  <div id="u28_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                
                <div id="u29" class="ax_default label">
                  <div id="u29_div" class=""></div>
                  <div id="u29_text" class="text ">
                    <p><span>Sair</span></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- botao-carrinho (Shape) -->
      <a href="{% url 'carrinho' %}">
        <div id="u30" class="ax_default icon" data-label="botao-carrinho">
          <img id="u30_img" class="img " src="{% static 'images/home_user/botao-carrinho_u30.svg' %}"/>
          <div id="u30_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <div id="u31" class="ax_default heading_2">
        <div id="u31_div" class=""></div>
        <div id="u31_text" class="text ">
          <p><span>Produtos</span></p>
        </div>
      </div>

      <!-- item-produto (Group) -->
      <div id="u32" class="ax_default" data-label="item-produto" data-left="29" data-top="228" data-width="265" data-height="331">

        <!-- Unnamed (Rectangle) -->
        <div id="u33" class="ax_default box_1">
          <div id="u33_div" class=""></div>
          <div id="u33_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- img-produto (Image) -->
        <div id="u34" class="ax_default image" data-label="img-produto">
          <img id="u34_img" class="img " src="{% static 'images/home_user/img-produto_u34.svg' %}"/>
          <div id="u34_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- nome-produto (Rectangle) -->
        <div id="u35" class="ax_default heading_3" data-label="nome-produto">
          <div id="u35_div" class=""></div>
          <div id="u35_text" class="text ">
            <p><span>Nome suplemento</span></p>
          </div>
        </div>

        <!-- descriçao-produto (Rectangle) -->
        <div id="u36" class="ax_default paragraph" data-label="descriçao-produto">
          <div id="u36_div" class=""></div>
          <div id="u36_text" class="text ">
            <p><span>Descrição muito foda do produto</span></p>
          </div>
        </div>

        <!-- botao-compra (Rectangle) -->
        <div id="u37" class="ax_default primary_button" data-label="botao-compra">
          <div id="u37_div" class=""></div>
          <div id="u37_text" class="text ">
            <p><span>Adicionar ao carrinho</span></p>
          </div>
        </div>

        <!-- preco (Rectangle) -->
        <div id="u38" class="ax_default heading_3" data-label="preco">
          <div id="u38_div" class=""></div>
          <div id="u38_text" class="text ">
            <p><span>R$ 12.00</span></p>
          </div>
        </div>

        <!-- loja-produto (Rectangle) -->
        <div id="u39" class="ax_default paragraph" data-label="loja-produto">
          <div id="u39_div" class=""></div>
          <div id="u39_text" class="text ">
            <p><span>Loja Dona Maria</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'resources/scripts/axure/ios.js' %}"></script>
  </body>
</html>
