{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Compra</title>
</head>
<body>
    <form action="{% url 'process' %}" method="POST" id="paymentForm">
        {% csrf_token %}
        <h3>Detalhes do comprador</h3>
          <div>
            <div>
              <label for="email">E-mail</label>
              <input id="email" name="email" type="text" value="{{ request.user.email }}"/>
            </div>
            <div>
              <label for="docType">Tipo Documento</label>
              <select id="docType" name="docType" data-checkout="docType" type="text"></select>
            </div>
            <div>
              <label for="docNumber">Número do documento</label>
              <input id="docNumber" name="docNumber" data-checkout="docNumber" type="text"/>
            </div>
          </div>
        <h3>Detalhes do cartão</h3>
          <div>
            <div>
              <label for="cardholderName">Titular do cartão</label>
              <input id="cardholderName" data-checkout="cardholderName" type="text">
            </div>
            <div>
              <label for="">Data de expiração</label>
              <div>
                <input type="text" placeholder="MM" id="cardExpirationMonth" data-checkout="cardExpirationMonth"
                  onselectstart="return false"
                  oncopy="return false" oncut="return false"
                  ondrag="return false" ondrop="return false" autocomplete=off>
                <span class="date-separator">/</span>
                <input type="text" placeholder="YY" id="cardExpirationYear" data-checkout="cardExpirationYear"
                  onselectstart="return false"
                  oncopy="return false" oncut="return false"
                  ondrag="return false" ondrop="return false" autocomplete=off>
              </div>
            </div>
            <div>
              <label for="cardNumber">Numero do cartão</label>
              <input type="text" id="cardNumber" data-checkout="cardNumber"
                onselectstart="return false"
                oncopy="return false" oncut="return false"
                ondrag="return false" ondrop="return false" autocomplete=off>
            </div>
            <div>
              <label for="securityCode">CVV</label>
              <input id="securityCode" data-checkout="securityCode" type="text"
                onselectstart="return false" onpaste="return false"
                oncopy="return false" oncut="return false"
                ondrag="return false" ondrop="return false" autocomplete=off>
            </div>
            <div id="issuerInput">
              <label for="issuer">Issuer</label>
              <select id="issuer" name="issuer" data-checkout="issuer"></select>
            </div>
            <!--
            <div>
              <label for="installments">Parcelas</label>
              <select type="text" id="installments" name="installments" value="1" ></select>
            </div>
            -->
            <div>
              <input type="hidden" name="transactionAmount" id="transactionAmount" value="100" />
              <input type="hidden" name="paymentMethodId" id="paymentMethodId" />
              <input type="hidden" name="description" id="description" />
              <br>
              <button type="submit">Pagar</button>
              <br>
            </div>
        </div>
      </form>
      <!-- Scripts -->
      <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
      <script>
          window.Mercadopago.setPublishableKey("TEST-d4d8c618-a341-40c3-9646-8f34ab262481")
      </script>
      <script src="{% static 'processo-pagamento.js' %}"></script>
</body>
</html>