{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{% static 'resources/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'data/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'files/home/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'resources/scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/axQuery.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/globals.js' %}"></script>
    <script src="{% static 'resources/scripts/axutils.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/annotation.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/axQuery.std.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/doc.js' %}"></script>
    <script src="{% static 'resources/scripts/messagecenter.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/events.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/recording.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/action.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/expr.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/geometry.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/flyout.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/model.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/repeater.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/sto.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/utils.temp.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/variables.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/drag.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/move.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/visibility.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/style.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/adaptive.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/tree.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/init.temp.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/legacy.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/viewer.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/math.js' %}"></script>
    <script src="{% static 'resources/scripts/axure/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'data/document.js' %}"></script>
    <script src="{% static 'files/home/data.js' %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- header (Group) -->
      <div id="u0" class="ax_default" data-label="header" data-left="0" data-top="0" data-width="1431" data-height="410">

        <!-- principal (Dynamic Panel) -->
        <div id="u1" class="ax_default" data-label="principal">
          <div id="u1_state0" class="panel_state" data-label="State1" style="">
            <div id="u1_state0_content" class="panel_state_content">
            </div>
          </div>
        </div>

        <!-- Unnamed (Menu) -->
        <div id="u2" class="ax_default">
          <img id="u2_menu" class="img " src="{% static 'images/home/u2_menu.png' %}" alt="u2_menu"/>

          <!-- Unnamed (Table) -->
          <div id="u3" class="ax_default">

            <!-- entregador (Menu Item) -->
            <div id="u4" class="ax_default menu_item" data-label="entregador">
              <div id="u4_text" class="text ">
                <p><span>Entregador</span></p>
              </div>
            </div>

            <!-- lojas (Menu Item) -->
            <div id="u5" class="ax_default menu_item" data-label="lojas">
              <div id="u5_text" class="text ">
                <p><span>Lojas</span></p>
              </div>
            </div>

            <!-- produtos (Menu Item) -->
            <div id="u6" class="ax_default menu_item" data-label="produtos">
              <div id="u6_text" class="text ">
                <p><span>Produtos</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- botao-entrar (Rectangle) -->
        <a href="{% url 'login' %}" style="text-decoration: none;">
        <div id="u7" class="ax_default link_button" data-label="botao-entrar">
          <div id="u7_div" class=""></div>
          <div id="u7_text" class="text ">
            <p><span>Entrar</span></p>
          </div>
        </div>
        </a>

        <!-- busca (Text Field) -->
        <div id="u8" class="ax_default text_field" data-label="busca">
          <div id="u8_div" class=""></div>
          <input id="u8_input" type="search" value="" class="u8_input"/>
        </div>

        <!-- botao-buscar (Rectangle) -->
        <div id="u9" class="ax_default primary_button" data-label="botao-buscar">
          <div id="u9_div" class=""></div>
          <div id="u9_text" class="text ">
            <p><span>Buscar</span></p>
          </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u10" class="ax_default icon">
          <img id="u10_img" class="img " src="{% static 'images/home/u10.svg' %}"/>
          <div id="u10_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11" class="ax_default paragraph">
          <div id="u11_div" class=""></div>
          <div id="u11_text" class="text ">
            <p><span>Falta pouco para saciar sua fome de vitória </span></p>
          </div>
        </div>

        <!-- logo (Image) -->
        <div id="u12" class="ax_default image" data-label="logo">
          <img id="u12_img" class="img " src="{% static 'images/home/logo_u12.png' %}"/>
          <div id="u12_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u13" class="ax_default">
        <div id="u13_state0" class="panel_state" data-label="State1" style="">
          <div id="u13_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- entregas (Group) -->
      <div id="u14" class="ax_default" data-label="entregas" data-left="48" data-top="466" data-width="300" data-height="212">

        <!-- img-entregas (Image) -->
        <div id="u15" class="ax_default image" data-label="img-entregas">
          <img id="u15_img" class="img " src="{% static 'images/home/img-entregas_u15.jpeg' %}"/>
          <div id="u15_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u16" class="ax_default heading_3">
          <div id="u16_div" class=""></div>
          <div id="u16_text" class="text ">
            <p><span>Faça entregas conosco</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u17" class="ax_default paragraph">
          <div id="u17_div" class=""></div>
          <div id="u17_text" class="text ">
            <p><span>Cadastre-se para fazer entregas</span></p>
          </div>
        </div>
      </div>

      <!-- lojas (Group) -->
      <a href="{% url 'cadastro_loja' %}">
      <div id="u18" class="ax_default" data-label="lojas" data-left="514" data-top="466" data-width="300" data-height="199">

        <!-- img-lojas (Image) -->
        <div id="u19" class="ax_default image" data-label="img-lojas">
          <img id="u19_img" class="img " src="{% static 'images/home/img-lojas_u19.jpeg' %}"/>
          <div id="u19_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u20" class="ax_default heading_3">
          <div id="u20_div" class=""></div>
          <div id="u20_text" class="text ">
            <p><span>Possui uma loja?</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u21" class="ax_default paragraph">
          <div id="u21_div" class=""></div>
          <div id="u21_text" class="text ">
            <p><span>Cadastre sua loja</span></p>
          </div>
        </div>
      </div>
      </a>

      <!-- produtos (Group) -->
      <div id="u22" class="ax_default" data-label="produtos" data-left="973" data-top="466" data-width="360" data-height="199">

        <!-- img-produto (Image) -->
        <div id="u23" class="ax_default image" data-label="img-produto">
          <img id="u23_img" class="img " src="{% static 'images/home/img-produto_u23.jpeg' %}"/>
          <div id="u23_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u24" class="ax_default heading_3">
          <div id="u24_div" class=""></div>
          <div id="u24_text" class="text ">
            <p><span>Os melhores suplementos para seu treino</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u25" class="ax_default paragraph">
          <div id="u25_div" class=""></div>
          <div id="u25_text" class="text ">
            <p><span>Confira uma lista completa de suplementos</span></p>
          </div>
        </div>
      </div>

      <!-- rodape (Group) -->
      <div id="u26" class="ax_default" data-label="rodape" data-left="0" data-top="763" data-width="1431" data-height="48">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u27" class="ax_default">
          <div id="u27_state0" class="panel_state" data-label="State1" style="">
            <div id="u27_state0_content" class="panel_state_content">
            </div>
          </div>
        </div>

        <!-- img-rodape (Image) -->
        <div id="u28" class="ax_default image" data-label="img-rodape">
          <img id="u28_img" class="img " src="{% static 'images/home/logo_u12.png' %}"/>
          <div id="u28_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u29" class="ax_default paragraph">
          <div id="u29_div" class=""></div>
          <div id="u29_text" class="text ">
            <p><span>&copy; Copyright 2021 - Supply Now</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'resources/scripts/axure/ios.js' %}"></script>
  </body>
</html>
